.bodyHolder {
    position: fixed;
    bottom: 0px;
    left: 400px;
    width: 120px;
    height: 138px;
    /*background-image: url(assets/pandaWave.png);*/
}

.pet {
    position: absolute;
}

.hiddenPet {
    display: none;
}

.ball {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image: url(assets/redball.png);
}

.bowl {
    position: fixed;
    width: 80px;
    height: 63px;
    background-image: url(assets/foodbowl.png);
}

.bed {
    position: fixed;
    width: 260px;
    height: 150px;
    background-image: url(assets/bed.png);
}

.eatenText {
    -webkit-animation-name:move_to_mouth;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-play-state:active;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: once;

    visibility: visible !important;
}

@-webkit-keyframes move_to_mouth {
    0% {

    }
    50% {
        -webkit-transform: rotate(70deg) scale(1) skew(41deg) translate(-50px);
    }
    100% {
        -webkit-transform: rotate(64deg) scale(0) skew(51deg) translate(70px);
    }
}

.whackedText {
    -webkit-animation-name:bend_text;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-play-state:active;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: once;

    visibility: visible !important;
}

@-webkit-keyframes bend_text {
    0% {

    }
    100% {
        -webkit-transform: rotate(64deg);
    }
}
