.pet {
    position: fixed;
    bottom: 0px;
    left: 400px;
    width: 180px;
    height: 120px;
    background-image: url("http://spritely.net/images/bird-forward-back.png");
}

.eatenText {
    -webkit-animation-name:move_to_mouth;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-play-state:active;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count: once;
}

@-webkit-keyframes move_to_mouth {
    0% {

    }
    50% {
        -webkit-transform: rotate(70deg) scale(1) skew(41deg) translate(-50px);
    }
    100% {
        -webkit-transform: rotate(64deg) scale(0) skew(51deg) translate(70px);
    }
}
